@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrolll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
/* .scrolll::-webkit-scrollbar-track {
  background: #222222; 
} */
 
/* Handle */
.scrolll::-webkit-scrollbar-thumb {
  background: #9e9595; 
  width: 20px;
}

/* Handle on hover */
.scrolll::-webkit-scrollbar-thumb:hover {
  background: #9e9595; 
}
